.profile{
  position: relative;
  font-family: sans-serif;
  text-align: center;
  max-width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-image{

  border-radius: 50px;
  margin: 0 auto 20px auto;
  display: block;
}
.name{
  font-size: 1.2;
  font-weight: bold  ;
}

