<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign up</mat-card-title>
      </mat-card-header>

      <table class="nameUser" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label >First name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput  formControlName="lastName">
        </mat-form-field></td>
      </tr></table>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Ex. pat@example.com" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary"   (click)="onSubmit()">save</button>
      <br/>
      <button mat-raised-button color=""   [routerLink]="['../']">backup</button>
    </mat-card>
  </form>
</div>
